body {
    margin-top: 130px;
}

.header {
    width: 100%;
    background-color: #06143b;
    padding: 25px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;    
    z-index: 10;
}

/* LOGO */
.logo {
    width: 100px;
    height: 100px;
    margin-left: 0;
    flex-shrink: 0;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

/* NOMBRE */
.nombre {
    color: #c0c6d6;
    margin: 0 40px;
    flex-grow: 1;
}

.nombre h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAV */
.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-menu a {
    text-decoration:none;
    color: #b5bbcc;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
    box-shadow: 0 2px;
}

.nav-menu a:hover {
    color: #1d4ed8;
}

@media (max-width: 900px) {
    .header {
        padding: 15px 25px;
    }
    .nombre h1 {
        font-size: 24px;
    }
    .nav-menu {
        gap: 25px;
    }
}

@media (max-width: 600px) {

    .header {
        flex-direction: column;
        padding: 15px 20px;
        gap: 10px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .nombre h1 {
        font-size: 20px;
        text-align: center;
    }
    .nav-menu {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
    .nav-menu a {
        font-size: 18px;
    }
}


.pregunta{
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  padding: 25px;
}
.pregunta h1{
  font-size: 50px;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pregunta h3{
  font-size: 30px;
  margin-bottom: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*SECCION DE LOS PERFILES PERRUNOS*/

/* Contenedor general */
.pets-section {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

/* Tarjetas */
.pet-card {
    width: 250px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Etiqueta verde */
.tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #6CE477;
    color: black;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}
.tag-no {
    position: absolute;
    top: 10px;
    right: 10px;
    background: orange;
    color: black;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;

}


/* ------- ESTILOS DEL BOTÓN ------- */
.btn {
    display: inline-block;
    padding: 10px 25px;
    background: black;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

/* OCULTAR EL CHECKBOX */
.popup-toggle {
    display: none;
}

/* CAPA OSCURA DEL POPUP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999999;   /* SUPER ALTO */
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-toggle:checked ~ .popup {
    display: flex;
}


/* CONTENIDO DEL MODAL */
.popup-content {
    background: white;
    padding: 35px;
    width: 70%;
    max-width: 600px;
    max-height: 90vh;
    border-radius: 20px;
    position: relative;
    overflow-y: auto;
    animation: show 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.popup-content span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@keyframes show {
    from { transform: scale(.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
/* BOTÓN DE CERRAR */
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.popup-img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}
.desc {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CARACTERÍSTICAS */
.caracteristicas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CTA */
.adopt-btn {
    background: #ff914d;
    color: #fff;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 25px;
    
}

/* RELACIONADOS */
.rel-title {
    margin-bottom: 10px;
}

.relacionados {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.rel-card {
    min-width: 120px;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

.rel-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}


/* Texto */
.pet-card h3 {
    margin: 10px 0;
}

.pet-card p {
    margin: 3px 0;
    color: #444;
}

.que-hacemos {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    background: #a3bcda;
    padding: 25px;
    border-radius: 8px;
  }
  .que-hacemos h2 {
    font-size: 35px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .que-hacemos p {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

/* Hover del botón */
.btn:hover {
    background: #444;
}

/* FOOTER */
.footer {
    background: #0f0f0f;
    color: #fff;
    padding: 40px 20px;
    margin-top: 40px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* -------- IZQUIERDA -------- */
.footer-left {
    display: flex;
    align-items: center;
    gap: 20px;
   
}

.footer-left img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100%;
}

.footer-title p {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: #c0c6d6;
    line-height: 1.1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* junta las líneas */
}

/* -------- CENTRO -------- */
.footer-center {
  text-align: center;
}

.footer-center h4 {
  margin-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-center a {
  color: #cbd5e1;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-redes {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-redes img {
  width: 28px;
  height: 28px;
  filter: invert(100%);
  transition: transform .2s ease;
}

.footer-redes img:hover {
  transform: scale(1.1);
}

/* -------- DERECHA -------- */
.footer-right {
    text-align: right;
    opacity: 0.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* -------- RESPONSIVE -------- */
@media (max-width: 850px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-left {
        flex-direction: column;
    }

    .footer-right {
        text-align: center;
    }
}